{% extends 'base.html.twig' %}

{% block title %}
	Ma commande
{% endblock %}

{% block body %}
	<h1 class="my-5">Ma Commande
		{{ order.reference }}
	</h1>

	<a href="{{ path('account_orders') }}">Retour</a>

	<hr>

	<p>
		<strong>Statut de la commande :</strong>
		{% if order.state == 1 %}
			Paiement accepté
		{% elseif order.state == 2 %}
			Préparartion en cours
		{% elseif order.state == 3 %}
			Livraison en cours
		{% endif %}
	</p>

	<p>
		<strong>Commande passée le :
		</strong>
		{{ order.createdAt|date('d/m/Y') }}
	</p>
	<p>
		<strong>Référence :</strong>
		<small>{{ order.reference }}</small>
	</p>
	<p>
		<strong>Transporteur choisi :</strong>
		{{ order.carrierName }}
	</p>

	<hr>

	<p class="my-3">
		<strong>Détails :</strong>
	</p>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Produit</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix unitaire</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for product in order.orderdetails %}
				<tr>
					<td>{{ product.product }}</td>
					<td>{{ product.quantity }}</td>
					<td>{{ (product.price / 100)|number_format(2, ',', '.') }}
						€
					</td>
					<td>{{ (product.total / 100)|number_format(2, ',', '.') }}
						€
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<hr>

	<div class="text-right">
		<p>
			<strong>Sous-total :</strong>
			{{ (order.getTotal() / 100)|number_format(2, ',', '.') }}
			€
		</p>
		<p>
			<strong>Livraison :</strong>
			{{ (order.carrierPrice / 100)|number_format(2, ',', '.') }}
			€
		</p>
		<p>
			<strong>Total :</strong>
			{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }}
			€
		</p>
	</div>
{% endblock %}
