{% extends 'base.html.twig' %}

{% block title %}
	Paiement de ma commande
{% endblock %}

{% block body %}
	<h2 class="my-5">Récapitulatif de ma commande.</h2>
	<p>Vérifiez vos informations avant de payer votre commande.</p>
	<hr>

	<div class="row">
		<div class="col-6">
			<p class="mb-4">
				<strong>Mon adresse de livraison</strong>
			</p>
			<div class="form-check">
				{{ delivry | raw }}
			</div>
			<hr>
			<p>
				<strong>Mon transporteur</strong>
			</p>
			<div class="form-check">
				<p class="lh-base">{{ carrier.name }}</p>
				<p class="lh-base">{{ carrier.description }}</p>
				<p class="lh-base">
					{{ (carrier.price / 100) | number_format(2, ',', '.') }}
					€
				</p>
			</div>
		</div>
		<div class="col-6">
			<div class="text-center">
				<b>Ma commande</b>
			</div>
			<div class="order-summary">
				{% set total = null %}
				{% for key,product in cart %}
					<div class="row {% if key > 0 %} mt-3 {% endif %}">
						<div class="col-2">
							<img src="/uploads/{{ product.product.illustration }}" alt="" height="80px">

						</div>
						<div class="col-8 my-auto">
							{{ product.product.name }}
							<br/>
							<small>{{ product.product.subtitle }}
								<br/>
								x
								{{ product.quantity }}
							</small>
						</div>
						<div class="col my-auto">
							{{ (product.product.price * product.quantity /100) | number_format(2, ',', '.') }}
							€
						</div>
					</div>
					{% set total = total + (product.product.price * product.quantity) %}
				{% endfor %}
			</div>

			<hr>
			<p>
				<strong>
					Sous-Total :
					{{ (total /100) | number_format(2, ',', '.') }}
					€
				</strong>
			</p>
			<strong>
				Livraison :
				{{ (carrier.price / 100) | number_format(2, ',', '.') }}
				€
			</strong>

			<hr>
			<strong>Total :
				{{ ((total /100) + (carrier.price / 100)) | number_format(2, ',', '.') }}
				€
			</strong>
			<a class="bnt btn-success btn-block my-3 text-center" id="checkout-button">
				Payer |
				{{ ((total /100) + (carrier.price / 100)) | number_format(2, ',', '.') }}
				€
			</a>
		</div>
	</div>

	{% block javascript %}
		<script src="https://js.stripe.com/v3/"></script>
	{% endblock %}

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var stripe = Stripe("pk_test_51JhcOPKSK4JFmMAJwuhQzicFgAjrzp6shlr1AeAq65TvbPUQy426V7j1YvmFpW43ozv79ZirBvZQcPUcG7P8MxCL00HohWixjL");
		var checkoutButton = document.getElementById("checkout-button");

		checkoutButton.addEventListener("click", function () {
		fetch("/order/create-session/{{ reference }}",
			{method: "POST"})
			.then(function (response) {
				return response.json();
			})
			.then(function (session) {
				if (session.error == 'order') {
					window.location.replace('{{ path('order') }}')
				} else {
					return stripe.redirectToCheckout({sessionId: session.id});
				}
			}).then(function (result) {
				if (result.error) {
				alert(result.error.message);
				}

			})
			.catch(function (error) {
				console.error("Error: ", error)
			});
		});
	</script>
{% endblock %}
